@import "variables";

body {
  overflow: hidden;
}

.sidebar {
  background: $orange;
  height: 100vh;
}

.messages {
  overflow: auto;
  height: calc(100vh - 50px);
}

.input__message {
  outline: none;
  @include border-radius(8px);
  border: 1px solid $gray;
  width: 90%;
  margin-bottom: 14px;
  padding: 6px 14px;
  font-size: 15px;
  font-family: "FiraSansRegular", Arial, sans-serif;
  color: $dark-grey;

  @include breakpoint( $phone-p ){
    width: 70%;
  }
  @include breakpoint( $phone-l ){
    width: 80%;
  }
  @include breakpoint( $tab-l ){
    width: 86%;
  }
  @include breakpoint( $desk ){
    width: 90%;
  }


  &:hover,
  &:focus {
      border: 1px solid #ff8663;
  }
}

.input__submit {
  outline: none;
  padding: 6px 15px;
  border: 1px solid transparent;
  @include border-radius(8px);
  color: $white;
  background: $orange;
  font-size: 15px;
  font-family: "FiraSansRegular", Arial, sans-serif;

  &:hover {
    background:$white;
    color: $orange;
    border: 1px solid $orange;
  }
}