doctype html
html(lang="en")
	title Chat
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes")
	link(rel="icon" type="image/png" href="img/favicon.png")
	link(rel="apple-touch-icon" type="img/png" href="img/apple-touch-favicon.png")
	link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		.login
			.panel__login
				form.form__login(name="login")
					input(placeholder="full name").input__text.input__text_block
					input(placeholder="nickname").input__text.input__text_block
					input(type="submit" value="login").input__submit.input__submit_block

		.wrapper.is_hide
			aside.sidebar
			.content
				.messages
				form(name="publish").form__send
					input(placeholder="write the message" name="message" autocomplete="off").input__message
					input(type="submit" value="send").input__submit
	script(src="js/main.js")