<div class="login">
  <div class="panel__login">
      <form name="login" class="form__login">
         <input placeholder="full name" name="name" class="input__text input__text_block">
         <input placeholder="nickname" name="login" class="input__text input__text_block">
         <input type="submit" value="login" class="input__submit input__submit_block">
      </form>
  </div>
</div>