<div class="panel__photo" id=modalPhoto>
    <div class="photo__img" id="dropAria">throw a picture in here</div>
    <div class="buttons">
        <a href="#" class="button" id="closeUploadForm">Cancel</a>
        <a href="#" class="button" id="uploadPhoto">Upload</a>
    </div>
</div>
