<div class="users__online">
    <div class="users__header">Online ({{count}})</div>
    <ul class="users__list">
        {{#each users}}
            <li class="users__item">{{this}}</li>
        {{/each}}
    </ul>
</div>