<div class="user">
    <div class="user__photo"><img id="changeAvatar" login="{{login}}" src="{{photo}}" class="photo__link photo__link_middle"></div>
    <div class="user__name">{{name}}</div>
</div>