{{#each}}
<div class="message">
    <div class="sender__left"><img src="http://localhost:8000/no-photo.jpg" class="photo__link"></div>
    <div class="sender__right">
      <div class="message__top">
        <div class="sender__name">{{username}}</div>
        <div class="message__time">{{datetime}}</div>
      </div>
      <div class="sender__text">{{message}}</div>
    </div>
</div>
{{/each}}